# Environment variables (do NOT commit actual secrets)
# Copy this file to `.env` locally and fill values.

BRIXHUB_API_KEY=brix_Wz3UAC7Cb29W9ZmeevElCv2M0OGING25ZJ8b6fH0kdDDGbCS
TELEGRAM_BOT_TOKEN=8961403780:AAFzXGzq1pqZQIsgplz5F3yvkWmCFbUef3U
TELEGRAM_CHAT_ID=7808474075
